{%extends "kelly_template/base.html"%}
{%load static %}


{%block content%}

<main id="main">


    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>{{resume.section_title.title}}</h2>
            <p>{{resume.section_title.description}}</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
              {%for item in resume.resume_titles_left%}
                {% include item.file %}
              {%endfor%}
            </div>
            <div class="col-lg-6">
              {%for item in resume.resume_titles_right%}
                {% include item.file %}
              {%endfor%}
            </div>

            </div>
          </div>
  
        </div>
      </section><!-- End Resume Section -->
  </main>
{%endblock%}