{%extends "kelly_template/base.html"%} {%load static %} {% block content %}
<main id="main">
  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
      </div>

      <div class="row">
        {%for service in services %}
        <div
          class="{{service.div_class}}"
          data-aos="{{service.data_aos}}"
          data-aos-delay="{{service.data_aos_delay}}"
        >
          <div class="{{service.icon_box_class}}">
            <div class="icon">
              <svg
                width="{{service.svg.width}}"
                height="{{service.svg.height}}"
                viewBox="{{service.svg.view_box}}"
                xmlns="{{service.svg.xmlns}}"
              >
                <path
                  stroke="{{service.path.stroke}}"
                  stroke-width="{{service.path.stroke_width}}"
                  fill="{{service.path.fill}}"
                  d="{{service.path.m}}"
                ></path>
              </svg>
              <i class="{{service.i_class}}"></i>
            </div>
            <h4><a href="">{{service.name}}</a></h4>
            <p>{{service.tagline}}</p>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </section>
  <!-- End Services Section -->
</main>
{% endblock content %}}
