
<h3 class="resume-title">{{item.title}}</h3>
{%for data in  item.content%}
              <div class="resume-item">
                <h4>{{data.heading}}</h4>
                <h5>{{data.subHeading}}</h5>
                <p><em>{{data.tagline}}</em></p>
                <p>
                <ul>
                  {%for li in item.content.list%}
                  <li>{{li.list_item}}</li>
                  {%endfor%}
               </ul>
                </p>
              </div>
              {%endfor%}
      